body {
font-size: 20px;
font-family:'Roboto', sans-serif;
background-color: rgb(244, 192, 205);

}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: rgb(193, 235, 204);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 70px;
    text-align: center;
}

.container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.container .polaroid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    height: 100%;
}

p {
    color:black;
    font-size: 20px;
    text-align: center;
    margin: 20px 3px;
    font-family: 'Roboto', sans-serif;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1000;
}  
 
 .button {
     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
     transition-duration: 0.3s;
     border-radius: 8px;
     display: inline-block;
     text-align: center;
}
 
 .button-link {
     text-decoration: none;
     color: inherit;
}
 
 .button:hover {
    background-color:rgb(193, 235, 204);
    color: white;
    border: 1px solid rgb(193, 235, 204);
}

