h1 {
    color:rgb(241, 237, 195);
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

h1 {
    text-align: center;
}

h2 {
    color:rgb(241, 237, 195)
}

/* controls the textbox border around impressionism command + / to write comments */
div {
    background-color: rgb(113, 120, 123);
    width: 200px;
    border: 2px solid rgb(157, 174, 157);
    padding: 25px;
    margin: 25px;
}

p {
    color:rgb(241, 237, 195)
}

dd {
    color:rgb(241, 237, 195);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* body is the background image */
body {  
    background-image: url('../images/TheTerraceatMeric.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.center {
    margin: auto;
    width: 45%;
    border: 3px solid #464946;
    padding: 5px;
    text-align: center;
}

.buttons {
    width: 45%;
    margin: 30px auto; 
    text-align: center;
}
/* margin shifts the whole buttons section */

.button {
    background-color: rgb(113, 120, 123);
    color: rgb(241, 237, 195);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border: 2px solid rgb(157, 174, 157);
    display: inline-block;
    width: 100%;
    box-sizing: border-box; 
}

/* links color to button text */
.button a {
    color: rgb(241, 237, 195);
    text-decoration: none;
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

